<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
      <!-- 
        name = Имя, которое используется для ссылки на данный раздел в файле настройки.
        type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
        -->
      <section name="StartupFolders" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GroundOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <userSettings>
        <GroundOrganizer.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value/>
            </setting>
        </GroundOrganizer.Properties.Settings>
    </userSettings>
</configuration>
